.landing-page{
    position: absolute;
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: black;
    align-items: center;
    gap: 50px;
    overflow: hidden;

    p{
        color: rgb(215, 226, 250);
        z-index: 1;
    }

    .landing-btn{
        display: flex;
        gap: 20px;

        button{
            width: 200px;
            min-width: 0;
            height: 40px;
            z-index: 1;
            border-radius: 6px;
            border: none;
            cursor: pointer;
            box-shadow: 0 0 2px 0 white;
        }

        button:hover{
            opacity: 0.9;
        }

        button:active{
            transform: translateY(0.5px);
            box-shadow: none;
        }
    }

    .landing-login{
        background: cyan;
    }

    .landing-signup{
        background: rgb(180, 180, 180);
    }

}

.landing-title{
    margin-top: 100px;
}

@media (max-width: 500px){
    .landing-page{
        padding-inline: 20px;
                
        .landing-btn button{
            width: 100px;
        }
    }
}
