.login-modal{
    width: 350px;
    min-width: 150px;
    height: 450px;
    min-height: 250px;
    background: rgba(160, 159, 159, 0.5);
    backdrop-filter: blur(6px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    z-index: 2;
    box-shadow: 0 0 5px white;
    animation: fade-in 0.5s ease;

    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 90%;
        gap: 10px;

        span{
            position: absolute;
            margin: 20px;
            top: 0;
            right: 0;
            cursor: pointer;
        }

        span:active{
            transform: translateY(0.5px);
        }

        h1{
            margin-bottom: 50px;
            font-family: 'Courier New', Courier, monospace;
        }

        input{
            width: 60%;
            min-width: 100px;
            height: 30px;
            border-radius: 6px;
            border: none;
            padding-inline: 5px;
            outline: none;
        }

        input:focus{
            box-shadow: 0 0 5px black;
        }

        button{
            margin-top: 20px;
            width: 100px;
            height: 25px;
            border: none;
            border-radius: 6px;
            cursor: pointer;
            transition: all 0.3s ease;
        }

        button:active{
            transform: translateY(0.5px);
            box-shadow: none;
        }

        button:hover{
            background: rgb(5, 201, 5);
            box-shadow: 0 0 5px green;
        }
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translate(-50%, -100%);
    }

    60% {
        opacity: 1;
        transform: translate(-50%, -45%);
    }

    80% {
        transform: translate(-50%, -55%);
    }

    90% {
        transform: translate(-50%, -48%);
    }

    95% {
        transform: translate(-50%, -52%);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}
